.ant-form-item {
    margin-bottom: 12px;
}

.ant-form-item-label {
    padding-bottom: 0 !important;
}

.ant-upload-list-picture-card {
    justify-content: center;
}

.ant-upload.ant-upload-select {
    width: 100% !important;
}

.form-image .ant-form-item-label {
    text-align: center !important;
}

.ant-upload-list-item-container {
    width: 200px !important;
    height: 200px !important;
}